{{ if ne .chezmoi.os "windows" -}}

#!/bin/sh
{{ if eq .chezmoi.os "darwin" -}}
brew install python3
{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}

{{ else if eq .chezmoi.osRelease.id "amzn" -}}

{{ end -}}

{{ end -}}

