{{ if ne .chezmoi.os "windows" -}}

#!/bin/sh
{{ if eq .chezmoi.os "darwin" -}}
npm install -g @devcontainers/cli
{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo npm install -g @devcontainers/cli
{{ else if eq .chezmoi.osRelease.id "amzn" -}}

{{ else if eq .chezmoi.osRelease.id "arch" -}}
sudo npm install -g @devcontainers/cli
{{ end -}}

{{ end -}}

