{{ if ne .chezmoi.os "windows" -}}

#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew install gcc glib libgccjit gnutls jansson librsvg tree-sitter gpg jq
brew tap d12frosted/emacs-plus
brew install --with-imagemagick --with-xwidgets --with-ctags emacs-plus
{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt -y install emacs gnupg
{{ else if eq .chezmoi.osRelease.id "amzn" -}}
brew install emacs gnupg
{{ else if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -S --noconfirm emacs-wayland 
{{ end -}}

{{ end -}}

