{{ if ne .chezmoi.os "windows" -}}

#!/bin/sh
{{ if eq .chezmoi.os "darwin" -}}
brew install neovim
{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
# aptだと古いのが降ってきてしまう
brew install neovim
{{ else if eq .chezmoi.osRelease.id "amzn" -}}
brew install neovim
{{ else if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -S --noconfirm neovim
{{ end -}}

{{ end -}}

