{{ if ne .chezmoi.os "windows" -}}

#!/bin/sh
{{ if eq .chezmoi.os "darwin" -}}
brew install git
{{ else if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt -y install git
{{ else if eq .chezmoi.osRelease.id "amzn" -}}
sudo dnf install git
{{ end -}}


{{ end -}}

