#!/bin/sh
{{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt -y install emacs
  {{ else if eq .chezmoi.osRelease.id "amzn" -}}
brew install emacs
  {{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
brew install emacs
{{ end -}}
