#!/bin/sh
{{ if eq .chezmoi.os "linux" -}}
brew install peco
  {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
  {{ else if eq .chezmoi.osRelease.id "amzn" -}}
  {{ end -}}
{{ else if eq .chezmoi.os "darwin" -}}
brew install peco
{{ end -}}
